main {
    background-color: rgb(227, 233, 235);
    text-align: center;
    color: black;
    padding: 20px 20px;
}

aside {
    background-color:rgb(207, 183, 103);
    text-align: left;
    padding: 20px 0;
}

header {
    background-color: rgb(88, 132, 173);
    text-align: right;
    text-indent: 30px;
    padding: 40px 0;
}  

.footer {
    background-color: rgb(164, 209, 235);
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 10px;
    line-height: 30px;
}
    
.footer li:hover {
    font-weight:bold;
    background-color: rgb(53, 53, 52);
    color: white;
    line-height: 35px;
}
    
.boton_update_alg {
    font-weight:lighter;
    font-size:16px;
    background-color: whitesmoke;
    color: black
    border: 1px;
}
    
.boton_update_alg:hover {
    width: 40%;
}